.hero {
  margin: 6px 0;
  padding: 48px 0;
  max-width: 1250px;
  margin: auto;

  .hero-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      align-self: flex-start;
      color: #333950;
    }

    p {
      max-width: 400px;
    }

    img {
      max-width: 760px;
      max-height: 350px;
      object-fit: contain;
    }

    .hero-btn-container {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      button {
        margin-top: 24px;
        margin-right: 12px;
        padding: 12px 24px;
        border: none;
        border-radius: 28px;
        background-color: #5175ff;
        color: #fff;
        font-size: 16px;
        transition: all 0.25s ease;
        font-weight: 700;
        box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.141);

        &:hover {
          background-color: #829cff;
          cursor: pointer;
        }
      }
    }
  }
}

.focused{
  background-color: rosybrown;
}

.selected{
  background-color: red;
}
