nav {
  position: sticky;
  padding: 24px;
  .nav-companyname {
    font-size: 24px;
    color: #25293a;
    user-select: none;
  }
  #nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
  }

  .links {
    a {
      text-decoration: none;
      text-decoration-color: #fff;
      color: #25293a;
      font-weight: 700;
      padding: 0 12px;
      transition: all 0.25s ease;
      font-size: 18px;
      &:hover {
        color: #5175ff;
        // text-decoration: underline;
        // text-decoration-color: #5175ff;
        // text-decoration-thickness: 3px;
      }
    }
  }
}
