.dashboard {
  height: 100vh;
  padding: 24px;
  text-align: center;

  .sites-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    a {
      width: 175px;
      text-decoration: none;
      color: white;
      background-color: rgb(54, 54, 54);
      padding: 12px;
      margin: 8px 0;

      &:hover {
        background-color: rgb(82, 82, 82);
      }
    }
  }

  .users-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
