.dashboard-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    width: 175px;
    text-decoration: none;
    color: white;
    background-color: rgb(54, 54, 54);
    padding: 12px;
    margin: 8px;

    &:hover {
      background-color: rgb(82, 82, 82);
    }
  }
}
